---
layout: wiki
title: Val's Wiki
---

<!DOCTYPE html>
<html lang="en">

<!--<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Val's Wiki</title>
  
</head>-->

<body>
 
  <header>
    <div class="nav-container">
      <nav>
        <a href="/">Home</a>
      </nav>
    </div>
    <div class="title">
      <h1>Val's Wiki</h1>
    </div>
  </header>

  <main>
    <h2 class="tc">Welcome!</h2>
    <p>This is my wiki and personal <a href="https://maggieappleton.com/garden-history">digital garden</a>. 
      <br />
      Feel free to wander. You'll find a collection of ideas and fragments of topics that interest me.
      <br />
      As with a physical garden, some spaces might be dormant at the moment, while others are active. If you encounter an empty folder or file, don't fret! It's just beginning to germinate. 
    </p>
    <details>
      <summary>Background</summary>
    <h4>Why Am I Creating This Space?</h4>
    <p>Over the years, I've collected countless bookmarks, and my Notes app is full of snippets and drafts. 
      This wiki is a way for me to liberate my bookmarks and notes from platform-specific apps like browsers, Google Drive, or iCloud. If a platform goes offline, I don't want to lose everything. 
      This method puts my little knowledge library into markdown files that can be easily migrated between computers and kept in sync using Git.
    </details>
  </p>
    <h3>Wiki Topics</h3>

    <section class="wiki-topics" id="wiki-topics">
      <!-- Folder titles will be dynamically inserted here -->
    </section>

  {% assign folders = site.pages | where_exp:"item", "item.path contains 'wiki'" %}
  {% assign wikifolders = "" | split:"" %}

  {% for folder in folders %}
    {% if folder.path %}
      {% assign tempvar = folder.path | split:"/" %}
      {% if tempvar.size > 1 %}
        {% assign wikifolders = wikifolders | push:tempvar[1] %}
      {% endif %}
    {% else %}
      <p>Folder path is nil for item: {{ folder }}</p>
    {% endif %}
  {% endfor %}

  {% assign wikifolders = wikifolders | uniq | sort %}

  <div class="wiki-topics-container">
    {% for folder in wikifolders %}
      {% unless folder contains 'md' or folder contains 'html' %}
        <div class="topic">
          <a class="link black" href="/wiki/{{folder}}/index.html"><div class="bg-near-white pa3">{{folder | capitalize}}</div></a>
        </div>
      {% endunless %}
    {% endfor %}
  </div>

  <h3>All notes</h3>

  {% assign folder1 = site.pages | where_exp: "item" , "item.path contains 'wiki'" | sort:"path" %}
  {% for item in folder1 %}
    <a href="{{ item.url }}">{{item.path}}</a>
    <br>
  {% endfor %}

  </main>
  
  <style>
    .wiki-topics-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }

    .topic {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: center;
    }

    .topic a {
      text-decoration: none;
      color: inherit;
    }
  </style>
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      fetch('listings.json')
        .then(response => response.json())
        .then(data => {
          const topicsContainer = document.getElementById('wiki-topics');
          data.forEach(item => {
            const topicDiv = document.createElement('div');
            topicDiv.className = 'topic';

            const topicLink = document.createElement('a');
            topicLink.href = item.url;
            topicLink.textContent = item.title;
            topicLink.className = 'link black';

            topicDiv.appendChild(topicLink);
            topicsContainer.appendChild(topicDiv);
          });
        })
        .catch(error => console.error('Error fetching the listings:', error));
    });
  </script>

  <footer>
    <p>&copy; 2024 Valerie Wade. All rights reserved.</p>
  </footer>
</body>

</html>
